# ====================================================================
# MSHQ Custom .gitignore (C++ / Python Bindings / Quantum Chemistry)
# ====================================================================

# --- Environment and Virtual Environments ---
venv/
.venv/
env/
tunning/
ActiveState.venv
environment.yml.user

# --- Editor & IDE Config ---
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# --- Build Artifacts & Compilations (C++ & Python) ---
build/
dist/
tests/
build_verify/
*.so
*.o
*.a
*.pyc
__pycache__/
*.egg-info/
.cmake/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake


psi.*.clean
*.out
*.log
timer.dat
*.h5
hasil/
*.sh
deploy_self_hosted.sh
test/
scaffold_compiler.py
!clean_all.py
!recaftor.py